@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #ffb22d;
    --off-white: #fffbeb;
    --dark-gray: #6b7280;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}

hr {
    margin: 2rem 0rem;
    ;
}

/**containers**/
.container {
    padding-left: 1rem;
    padding-right: 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;
}

/**links**/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--off-white);
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
.blog-btn{
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  align-items: center;
    border-radius: 0.5rem;
    color: var(--off-white);
    text-decoration: none;
   max-width: 120px;
   width: 500px;
    padding: 0.5rem 1rem;
  

}

.project-date{
    
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-size: medium;
}
.blog-date{
    
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-size: medium;
    text-align: center;
}
.blog-heading{
    text-align: center;
}

/**lists**/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/**navbar**/
.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-right-radius: 2rem;
    padding: 1rem 1rem;
}


.navigation .nav-brand{
    font-weight:bold;
    font-size: 1.1rem;

}

.navigation .nav-pills{
    text-align-last: right;
}

.navigation .link {
    color: white;
}
.navigation .link-active{
    color:red;
    font-weight:bolder;
    border: 3px solid white;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

    
/**header**/
.hero{
    padding:2rem;
    color: darkgray;
    display: block;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 0rem;
}
.hero .hero-img{
    width: 50%;
    display: block;
    margin:auto;
    height:auto;
}

.hero .hero-heading{
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    text-align:center;
    font-weight: bolder;
    color: darkgray;
    display: block;
}
.section{
    padding: 1rem 2rem;
}
.section h1{
    text-align: center;

}

.ow{
    background-color: var(--off-white);
}


.footer{
    text-align: center;
    background-color: var(--primary-color);
    padding:2rem 1rem;
    border-top-left-radius: 2rem;
    color: whitesmoke;

}
.footer .link{
    color: whitesmoke;
}
.footer .footer-header{
    font-weight:bolder;
    font-size: large;
}
.footer ul{
    padding-inline-start:0px;
}

